@tailwind base;
@tailwind components;
@tailwind utilities;

.radial {
  background: radial-gradient(#5d2fd0, #4a26a6);
}

body {
  background: linear-gradient(#5d2fd0, #4a26a6);
}
.navigation {
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  transition-property: opacity;
  transition-timing-function: all ease-out;
  transition-duration: 0.3s;
  background: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.11);
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (max-width: 1500px) and (min-width: 1025px) {
  .container-fluid {
    min-width: 1200px;
  }
}

@media (min-width: 1025px) {
  .container-fluid {
    min-width: 992px;
    max-width: 1199.98px;
  }
}

.container-fluid {
  min-width: 1280px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.primary-button {
  border: 1px solid #1e0b4e;
  background-color: #3c1e85;
  box-shadow: 0 1px 1px 0 #7452c6;
  color: #fff;
}

.primary-button,
.secondary-button {
  padding: 6px 12px;
  font-weight: 900;
  border-radius: 6px;
  background-clip: padding-box;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
