@tailwind base;
@tailwind components;
@tailwind utilities;

.radial {
  background: rgba(115, 79, 203, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(115, 79, 203, 0.47);
  position: sticky;
  top: 0px;
  z-index: 9;
}

body {
  background: rgb(85, 42, 191);
  background: linear-gradient(
    180deg,
    rgba(85, 42, 191, 1) 0%,
    rgba(60, 30, 133, 1) 8%
  );
}
.navigation {
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  transition-property: opacity;
  transition-timing-function: all ease-out;
  transition-duration: 0.3s;
  background: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.11);
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (max-width: 1500px) and (min-width: 1025px) {
  .container-fluid {
    min-width: 1200px;
  }
}

@media (min-width: 1025px) {
  .container-fluid {
    min-width: 992px;
    max-width: 1199.98px;
  }
}

.container-fluid {
  min-width: 1280px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.primary-button {
  border: 1px solid #1e0b4e;
  background-color: #3c1e85;
  box-shadow: 0 1px 1px 0 #7452c6;
  color: #fff;
}

.primary-button,
.secondary-button {
  padding: 6px 12px;
  font-weight: 900;
  border-radius: 6px;
  background-clip: padding-box;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

/* hides the number arrows in number type input  */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.calculator-gradient {
  /* background: rgb(60, 30, 133);
  background: linear-gradient(
    93deg,
    rgba(60, 30, 133, 1) 0%,
    rgba(94, 69, 153, 1) 100%
  ); */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* 
background: rgba(255, 255, 255, 0.2);\
border-radius: 16px;\
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);\
backdrop-filter: blur(5px);\
-webkit-backdrop-filter: blur(5px);\
border: 1px solid rgba(255, 255, 255, 0.3);\ */

/* .gradient-border {
  border: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(85, 42, 191, 1) 0%,
      rgba(62, 33, 135, 1) 100%
    )
    1;
} */

.gradient {
  background: rgb(115, 79, 203);
  background: linear-gradient(
    360deg,
    rgba(115, 79, 203, 1) 0%,
    rgba(60, 30, 133, 1) 70%
  );
}
@layer components {
  .pizza {
    background: url("../public/pizza-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    background-position: center;
  }
}

ul.order-ahead > div {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.content-container {
  width: 100%;
}
@media (min-width: 640px) {
  .content-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .content-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .content-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .content-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .content-container {
    /* max-width: 1536px; */
    max-width: 1200px;
  }
}

.video {
  background: url("../public/video.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  background-position: center;
}
.list-item {
  list-style: none;
}

.link {
  position: relative;
  text-decoration: none;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.link:hover:after {
  width: 100%;
}

.bg-pattern {
  background-image: url("https://joingimme.com/static/media/texture.2f8281d4.svg");
}
